{{#get "posts"  order="title asc" filter="tag:{{title}} + tag:hash-subcategory" include="authors,tags" as |subcategory|}} 
    {{#foreach subcategory}}
    {{!-- Sub-category header --}}
        <div class="sub-category-header">
            <h3 class="topic-article-title">
                <a class="topic-article-link" href="{{url}}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
                        <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
                    </svg>
                    {{content}}
                </a>
            </h3>

            {{!-- View all button --}}
            {{#get "tags" filter="slug:{{title}}" limit="1" include="count.posts"}}
                {{#foreach tags}}
                    <a class="topic-more button-arrow button-arrow-right" id="{{title}}" href="{{url absolute="true"}}">View all ({{count.posts}}) →</a>
                {{/foreach}}
            {{/get}}

        </div>
        {{!-- List posts for sub-category --}}
        {{> subcategory-posts limitSize="7"}}
                              
    {{/foreach}}
{{/get}}