{{!-- List posts for sub-category --}}
<div class="topic-article-feed sub-category-posts">
{{#get "posts" order="published_at desc" filter="tag:{{title}}" include="tags" limit=limitSize
    as |article|}}
    
        {{#foreach article}}
                <h4 class="topic-article-title">
                    <a class="topic-article-link" href="{{url}}"> 
                        
                        {{!-- Post title                  --}}
                        {{#has tag="#subcategory"}}
                            {{content}}
                        {{else}}
                            {{title}}
                        {{/has}}

                        {{!-- Featured icon --}}
                        {{#if @custom.show_featured_posts}}
                            {{#if featured}}
                                {{#if @custom.featured_post_icon}}
                                    <img  class="featured-icon" src="{{@custom.featured_post_icon}}" alt="featured icon">
                                {{/if}}
                            {{/if}}
                        {{/if}}

                    </a>
                </h4>
        {{/foreach}}
{{/get}}
</div>