<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{ghost_head}}

    <!-- Prism.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/plugins/toolbar/prism-toolbar.min.css" />
    <!-- themes:  https://cdnjs.com/libraries/prism -->
    <link id="prism-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-solarizedlight.min.css"/>

    <!-- TOC -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.13.4/tocbot.css" />
</head>

<body class="{{body_class}}{{block "body_class"}}  is-head-{{#match @custom.navigation_layout "Logo on the left"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
<div class="site">

    <header id="gh-head" class="gh-head gh-outer">
    <div class="gh-head-inner gh-inner">
        <div class="gh-head-brand">
            {{!-- Brand logo --}}
            <div class="gh-head-brand-wrapper">
                <a class="gh-head-logo" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
            </div>
            {{!-- Search button mobile--}}
            <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
            {{!-- Theme icons mobile--}}
            <button class="gh-icon-btn theme-icon" id="dark-theme-icon-mobile" onclick="changeTheme('dark')" aria-label="Change to dark theme">
                <img class="logo-image" src="{{asset 'assets/icons/moon.svg'}}" alt="Dark theme" height="35px" width="35px">
            </button>
            <button class="gh-icon-btn theme-icon hidden" id="light-theme-icon-mobile" onclick="changeTheme('light')" aria-label="Change to light theme">
                <img class="logo-image" src="{{asset 'assets/icons/sun.svg'}}" alt="Light theme" height="35px" width="35px">
            </button>
            {{!-- Menu button mobile --}}
            <button class="gh-burger"></button>
        </div>

        <nav class="gh-head-menu">
            {{navigation}}
            {{#unless @site.members_enabled}}
                {{#match @custom.navigation_layout "Stacked"}}
                    <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                {{/match}}
            {{/unless}}

            {{!-- Custom navigation --}}
            {{#get "posts"  order="title desc" filter="featured:true + tag:hash-subcategory" include="tags" as |subcategory|}} 
                {{#foreach subcategory}}
                <div class="dropdown">
                    {{!-- Featured sub-category to be shown in the menu navigation --}}
                    <div class="dropbtn">
                        {{#if feature_image}}
                            <img src="{{feature_image}}" alt="{{content}}" height="40px" width="40px">
                            <a class="menu-item-with-img" href="{{url absolute="true"}}">{{content}}</a>
                        {{else}}
                            <a class="" href="{{url absolute="true"}}">{{content}}</a>
                        {{/if}}

                    </div>


                    {{!-- List posts for the featured sub-category --}}
                    <div class="dropdown-content">
                        {{#get "posts" order="published_at asc" filter="tag:{{title}}" include="tags" as |article|}}
                            {{#foreach article}}
                                <a class="topic-article-link" href="{{url}}">
                                        {{title}}                            
                                </a>
                            {{/foreach}}
                        {{/get}}
                    </div>
                </div>

                {{/foreach}}
            {{/get}}
        </nav>

        <div class="gh-head-actions">
            {{#unless @site.members_enabled}}
                {{^match @custom.navigation_layout "Stacked"}}
                    <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                {{/match}}
            {{else}}
                <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>

            {{!-- Theme icons --}}
            <button class="gh-icon-btn theme-icon" id="dark-theme-icon" onclick="changeTheme('dark')" aria-label="Change to dark theme">
                <img class="logo-image" src="{{asset 'assets/icons/moon.svg'}}" alt="Dark theme" height="35px" width="35px">
            </button>
            <button class="gh-icon-btn theme-icon hidden" id="light-theme-icon" onclick="changeTheme('light')" aria-label="Change to light theme">
                <img class="logo-image" src="{{asset 'assets/icons/sun.svg'}}" alt="Light theme" height="35px" width="35px">
            </button>

                {{!-- <div class="gh-head-members">
                    {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            <a class="gh-head-link" href="#/portal/signin" data-portal="signin">Sign in</a>
                            <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Subscribe</a>
                        {{else}}
                            <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signin" data-portal="signin">Sign in</a>
                        {{/unless}}
                    {{else}}
                        <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div> --}}
            {{/unless}}
        </div>
    </div>
</header>


    {{!-- {{#is "home"}}
    <div class="site-cover{{#unless @site.cover_image}} no-image{{/unless}} u-overlay">

        {{#if @site.cover_image}}
            <img class="cover-image jarallax-img u-object-fit" src="{{img_url @site.cover_image}}" alt="{{@site.title}}">
        {{/if}}

        <div class="cover-content">
            {{#if @site.description}}
                <div class="cover-description">{{@site.description}}</div>
            {{/if}}
            <div class="search">
                <form class="search-form">
                    <div class="form-wrapper">
                        <div class="search-field" data-ghost-search>Search posts, tags, authors...</div>
                        <button class="form-button search-button" type="submit" data-ghost-search>
                            {{> "icons/search"}}
                            {{> "icons/close"}}
                        </button>
                    </div>
                </form>
                <div class="search-result"></div>
            </div>
        </div>

    </div>
    {{/is}} --}}

    <div class="site-content">
        {{{body}}}
    </div>

    <footer class="gh-foot gh-outer">
        <div class="gh-foot-inner gh-inner">
            <div class="gh-copyright">
                {{@site.title}} © {{date format="YYYY"}}
            </div>
            <nav class="gh-foot-menu">
                {{navigation type="secondary"}}
            </nav>
            <div class="gh-powered-by">
                <a href="https://ghost.org/" target="_blank" rel="noopener">Powered by Ghost</a>
            </div>
        </div>
    </footer>

</div>

{{#is "post, page"}}
    {{> "pswp"}}
{{/is}}

{{!-- Remove jquery --}}
{{!-- <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script> --}}
<script src="{{asset "built/main.min.js"}}"></script>

{{!-- Theme script --}}
<script data-cfasync="false">
    var themeSelected = localStorage.getItem("theme");
    if( themeSelected == 'dark'){
       toggleDarkThemeInBody();
       toggleThemeIcons();
       changePrismStyle("dark");
    }

function changeTheme(theme) {
    document.documentElement.classList.add('color-theme-in-transition');

    changePrismStyle(theme)

    setUserPreferenceTheme(theme);
    toggleDarkThemeInBody();
    toggleThemeIcons();

    //Change style for members section and comments
    var commentsRoot = document.getElementById("ghost-comments-root");
    if(commentsRoot && commentsRoot.children && commentsRoot.children.length > 0){
        var iframeEl = commentsRoot.children[0];
        if(iframeEl){
            const membersSection = iframeEl.contentWindow.document.getElementsByClassName("ghost-display");
            if(membersSection && membersSection.length > 0){
                membersSection[0].classList.toggle("dark");
            }
        }

    }


    window.setTimeout(function() {
         document.documentElement.classList.remove('color-theme-in-transition')},
         1200);
}

function changePrismStyle(theme){
    var headPrism = document.getElementById("prism-theme");
    if(headPrism && theme == "dark"){
        headPrism.href = "https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-twilight.min.css";
    } else{
        headPrism.href = "https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-solarizedlight.min.css";
    }
}

function toggleThemeIcons(){
    toggleThemeIcon("dark-theme-icon");
    toggleThemeIcon("light-theme-icon");
    toggleThemeIcon("dark-theme-icon-mobile");
    toggleThemeIcon("light-theme-icon-mobile");
}
function toggleThemeIcon(iconId){
    var darkThemeIcon = document.getElementById(iconId);
    darkThemeIcon.classList.toggle("hidden");
}
function setUserPreferenceTheme(theme){
    localStorage.setItem("theme", theme);
}
function toggleDarkThemeInBody(){
    var element = document.body;
    element.classList.toggle("dark-mode");
}
</script>

{{!-- <!-- Prism.js -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/plugins/toolbar/prism-toolbar.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-python.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-java.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-bash.min.js"></script>

<!-- TOC-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.13.4/tocbot.min.js"></script>
<script>
    tocbot.init({
        tocSelector: '.toc',
        contentSelector: '.post-content',
        headingSelector: 'h1, h2, h3',
        hasInnerContainers: true,
        headingsOffset: 100,
        scrollSmoothOffset: -100,
        scrollSmoothDuration: 420
    });
</script> --}}


{{ghost_foot}}

</body>
</html>