{{!< default}}

<main class="site-main post-container">

    {{!-- Left sidebar --}}
    <div id="side-navigation">
        {{> categories-nav}}
    </div>

    {{#post}}

    <article class="{{post_class}}">

        <header class="gh-article-header gh-canvas">
            {{!-- <h1 class="gh-article-title">{{title}}</h1> --}}

            {{!-- Title --}}
            <h1 class="gh-article-title">

                {{!-- Post title text --}}
                {{#has tag="#category,#subcategory"}}
                    {{content}}
                {{else}}
                    {{title}}
                {{/has}}

                {{!-- Featured icon --}}
                {{#if @custom.show_featured_posts}}
                    {{#if featured}}
                        {{#if @custom.featured_post_icon}}
                            <img  class="featured-icon-post" src="{{@custom.featured_post_icon}}" alt="featured icon">
                        {{/if}}
                    {{/if}}
                {{/if}}

                {{!-- Save as favorite --}}
                <button class="gh-icon-btn" id="save-icon" data-title="{{title}}" data-url="{{url}}" 
                    onclick="savePost()" aria-label="Save post as favorite">
                    <img class="" src="{{asset 'assets/icons/heart.svg'}}" alt="Save" height="35px" width="35px">
                </button>
                {{!-- Remove from saved button --}}
                <button class="gh-icon-btn" id="remove-save-icon" data-title="{{title}}" data-url="{{url}}" 
                    {{!-- style="display: none;" --}}
                    onclick="removePost()" aria-label="Remove post as favorite">
                    <img class="" src="{{asset 'assets/icons/heart_full.svg'}}" alt="Save" height="35px" width="35px">
                </button>
            </h1>

            <div class="post-meta">
                Last updated on&nbsp;
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date updated_at}}</time>
            </div>
            {{!-- {{> "post-image"}} --}}
        </header>

        <div class="gh-content gh-canvas post-content">
            {{!-- {{content}} --}}
            {{#has tag="#subcategory,#category"}}
                {{> subcategory-posts limitSize="all"}}
            {{else}}
                {{content}}
            {{/has}}
        </div>

        <div class="pagination-container gh-canvas">
        <nav class="pagination">

            <div class="pagination-left">
                {{#prev_post}}
                    <a class="newer-posts" href="{{url}}">
                        <span class="pagination-label">Previous</span>
                        {{#has tag="#category,#subcategory"}}
                            {{content}}
                        {{else}}
                            {{title}}
                        {{/has}}
                    </a>
                {{/prev_post}}
            </div>

            <div class="pagination-right">
                {{#next_post}}
                    <a class="older-posts" href="{{url}}">
                        <span class="pagination-label">Next</span>
                        {{#has tag="#category,#subcategory"}}
                            {{content}}
                        {{else}}
                            {{title}}
                        {{/has}}
                    </a>
                {{/next_post}}
            </div>

        </nav>
        </div>

        {{#if comments}}
            <div class="gh-comments gh-canvas">
                {{comments}}
            </div>
        {{/if}}

    </article>

    {{/post}}

    {{!-- TOC --}}
    <aside class="toc-container">
        <div class="toc"></div>
    </aside>
</main>

<script>
    const localStorageId = "favoritesLst";
    const addIcon = document.getElementById("save-icon");
    const removeIcon = document.getElementById("remove-save-icon")
    chooseSaveIcon();

    function chooseSaveIcon(){
        const saved = getSavedList();
        const url = addIcon.getAttribute('data-url');
        const alreadyAdded = saved.find(el => el.url == url);
        if(alreadyAdded){
            addIcon.style.display = "none";
            removeIcon.style.display = "block"
        } else{
            addIcon.style.display = "block";
            removeIcon.style.display = "none"
        }
    }
    function getSavedList(){
        let saved = localStorage.getItem(localStorageId);
        if(!saved){
            saved = [];
        } else{
            saved = JSON.parse(saved);
        }
        return saved;
    }
    function getSaveObj(){
        const button = document.getElementById('save-icon');
        const title = button.getAttribute('data-title');
        const url = button.getAttribute('data-url');
        const result = {title,url};
        return result;
    }
    function savePost(){      
        const saved = getSavedList();
        const saveObj = getSaveObj();
        saved.push(saveObj);
        localStorage.setItem(localStorageId, JSON.stringify(saved));
        chooseSaveIcon(); // refresh hear icon
    }
    function removePost(){
        const url = addIcon.getAttribute('data-url');
        const saved = getSavedList();
        const filtered = saved.filter(el=> el.url != url);
        localStorage.setItem(localStorageId, JSON.stringify(filtered));
        chooseSaveIcon(); // refresh heart icon
    }
</script>

<script>
    var coll = document.getElementsByClassName("collapsible-header");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        } 
    });
    }
</script>


<!-- Prism.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js" integrity="sha512-7Z9J3l1+EYfeaPKcGXu3MS/7T+w19WtKQY/n+xzmw4hZhJ9tyYmcUS+4QqAlzhicE5LAfMQSF3iFTK9bQdTxXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js" integrity="sha512-st608h+ZqzliahyzEpETxzU0f7z7a9acN6AFvYmHvpFhmcFuKT8a22TT5TpKpjDa3pt3Wv7Z3SdQBCBdDPhyWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js" integrity="sha512-/kVH1uXuObC0iYgxxCKY41JdWOkKOxorFVmip+YVifKsJ4Au/87EisD1wty7vxN2kAhnWh6Yc8o/dSAXj6Oz7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js" integrity="sha512-AKaNmg8COK0zEbjTdMHJAPJ0z6VeNqvRvH4/d5M4sHJbQQUToMBtodq4HaV4fa+WV2UTfoperElm66c9/8cKmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-bash.min.js" integrity="sha512-whYhDwtTmlC/NpZlCr6PSsAaLOrfjVg/iXAnC4H/dtiHawpShhT2SlIMbpIhT/IL/NrpdMm+Hq2C13+VKpHTYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js" integrity="sha512-xKcnbsdT0KMoA4yrozkqZM1XJVTrPsjdQwvigxlAlxEDu8YDvC/jl+LfVqn0fY3Vs6m2y4a89JCHEIA/Z9zpmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- TOC-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.20.1/tocbot.min.js" integrity="sha512-aeQPIoprk35kvJYUFH4nhvm+ASgaUHHBfJQLEfizXatcdcrWFIzNNpG/lf70ePbB1cplRQ2I5/XyMLMZJHFRzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    tocbot.init({
        tocSelector: '.toc',
        contentSelector: '.post-content',
        headingSelector: 'h1, h2, h3',
        hasInnerContainers: true,
        headingsOffset: 100,
        scrollSmoothOffset: -100,
        scrollSmoothDuration: 420
    });
</script>
